<header>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark" id="menu">
      <a [routerLink]="['/inicio']" [routerLinkActive]="['actived']" class="navbar-brand text-white">
        <img src="../assets/img/logo.png" height="40px">
      </a>
      <button class="navbar-toggler" data-target="#menu" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a [routerLink]="['/inicio']" [routerLinkActive]="['actived']" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/agregar-producto']" [routerLinkActive]="['actived']" class="nav-link">Crear producto</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/productos']" [routerLinkActive]="['actived']" class="nav-link">Productos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" data-toggle="dropdown" data-target="desplegable">
              Categorías
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Relojes</a>
              <a class="dropdown-item" >Cadenas</a>
            </div>
          </li>
        </ul>
        <span class="navbar-text" style="color: azure;">
          Bienvenido!
        </span>
      </div>
    </nav>
  </div>

</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer>
  Brandon Eduardo Toapanta Jimenez &copy;
</footer>